/* väripaletti (ylhäällä tummin)*/

/* #b9936c

#dac292

#e6e2d3

#c4b7a6
*/
.dark_brown {
    background-color: #b9926c6b;
}

.light_brown {
    background-color: #dac29273;
}

.white_brown {
    background-color: #e6e2d3;
}

.grey {
    background-color: #c4b7a6;
}

body {
    background-color: rgba(250, 235, 215, 0.315);
}

.header {
    margin-top: 50px;
    background-color: #b9926c85;
}
.content {
background-color: #b970111f;
}
.navbar{
    justify-content: space-between !important;
}
.nav-item {
    padding: 0.2em;
}

.loginButton {
    border-radius: 20px 5px 20px 5px;
    background-color: rgba(215, 250, 217, 0.521);
    border: 1px solid #b9926cc4;
}

.loginButton:hover{
  background-color: rgb(215, 250, 217);
  border: 1px solid #b9926cc4;
}


.footer_top {
    background-color: #b9926c85;
    height: 40px;
}

/*Some korttien tekemiseen käytetty avuksi https://bbbootstrap.com/snippets/bootstrap-social-media-icons-3d-flips-78890278 */
.social-list {
    display: inline-flex
}

.social-list li {
    list-style: none;
    margin-right: 3px
}

.maincard {
    position: relative;
    width: 80px;
    height: 70px
}

.thecard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s ease
}

.thecard:hover {
    transform: rotateY(180deg)
}

.thefront {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hidden;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #eee;
    padding:20px
}

.theback {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: hidden;
    color: #fff;
    border-radius: 10px;
    transform: rotateY(180deg);
    border: 1px solid #eee;
    padding: 16px
}

.social-text small {
    font-size: 12px
}

@media (max-width:700px) {
    .social-list {
        display: block
    }
}

.facebook {
    background: #3b5998
}

.instagram {
    background: #3f729b
}

.youtube {
    background: #ff0000
}

.shopcart_cs {
    bottom: 40px;
}

.fa-shopping-cart {
    font-size: 50px;
}
/* Navbar */
