/* väripaletti (ylhäällä tummin)*/

/* #b9936c

#dac292

#e6e2d3

#c4b7a6
*/
body {
    background-color: rgba(250, 235, 215, 0.315);
}

.header {
    margin-top: 50px;
    background-color: #b9926c85;
}
.content {
background-color: #b970111f;
}
.navbar {
    border: 1px solid black;
}

.social-list {
    display: inline-flex
}

.social-list li {
    list-style: none;
    margin-right: 3px
}

.maincard {
    position: relative;
    width: 50px;
    height: 40px
}

.thecard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s ease
}

.thecard:hover {
    transform: rotateY(180deg)
}

.thefront {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hidden;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #eee;
    padding: 1px
}

.theback {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: hidden;
    color: #fff;
    border-radius: 10px;
    transform: rotateY(180deg);
    border: 1px solid #eee;
    padding: 1px
}

.social-text small {
    font-size: 8px
}

@media (max-width:700px) {
    .social-list {
        display: block
    }
}

.facebook {
    background: #3b5998
}

.instagram {
    background: #3f729b
}

.youtube {
    background: #ff0000
}