/* värit */
.dark_brown {
  background-color: #b9926c6b;
}

.light_brown {
  background-color: #dac29273;
}

.white_brown {
  background-color: rgb(230, 226, 211);
}

.whiter_brown {
  background-color: #ece7e26b;
}

.lighter_brown {
  background-color: #e7d9bb73;
}

.grey {
  background-color: #c4b7a6;
}

/* fontin väri */
body {
  color: #104570;
  background: url('./img/bgimage.jpg') no-repeat center center fixed;
  background-size: cover;
}
main {
  /* background-image: url('./img/bgimage.jpg');
background-size: cover; */
}
.bottomBg {
  background-color: rgb(228, 228, 228);
}

/* header */
.header {
  background-color: #66b8fc;
}
.navbar {
  justify-content: space-between !important;
}
.nav-item {
  padding: 0.2em;
}
.nav-item:hover {
  text-shadow: -2px -2px 10px #0a3b284f;
}

/* etusivun kuva - source: https://pixabay.com/images/id-2596809/ */
.fpimg {
  border-radius: 50%;
}

/* Login ja search painikkeet */
.loginButton {
  border-radius: 20px 5px 20px 5px;
  background-color: #73def1;
  border: 1px solid #127cb9c4;
}

.loginButton:hover {
  background-color: #49d4ec;
  border: 1px solid #b9926cc4;
}

/* kategoriapainikkeet */
.categoryButton {
  border: 1px solid #cbd2d4;
  background-color: #effeff;
  min-width: 150px;
  min-height: 70px;
}

.categoryButton:hover {
  background-color: #ffc444cc;
  border: 1px solid #37485a;
}

footer {
  background-image: none;
}
/* footerin yläosa */
.footer_top {
  height: 40px;
  border-top: solid black 1px;
}

.footer_top_section {
  color: #37485a;
}

.square {
  height: 15em;
  width: 15em;
  background-color: white;
  border: solid black 1px;
  margin-bottom: 1em;
}

.copyright_footer {
  border: solid black 1px;
  border-radius: 50px 50px 5px 5px;
  height: 1.5em;
  text-align: center;
}

/*Some korttien tekemiseen käytetty avuksi https://bbbootstrap.com/snippets/bootstrap-social-media-icons-3d-flips-78890278 */
.social-list {
  display: inline-flex;
}

.social-list li {
  list-style: none;
  margin-right: 3px;
}

.maincard {
  position: relative;
  width: 80px;
  height: 70px;
}

.thecard {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.thecard:hover {
  transform: rotateY(180deg);
}

.thefront {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hidden;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #eee;
  padding: 20px;
}

.theback {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: hidden;
  color: #fff;
  border-radius: 10px;
  transform: rotateY(180deg);
  border: 1px solid #eee;
  padding: 16px;
}

.social-text small {
  font-size: 12px;
}

@media (max-width: 700px) {
  .social-list {
    display: block;
  }
}

.facebook {
  background: #3b5998;
}

.instagram {
  background: #3f729b;
}

.youtube {
  background: #ff0000;
}

.shopcart_cs {
  bottom: 40px;
}

.fa-shopping-cart {
  font-size: 50px;
}

.link {
  color: #37485a;
  text-decoration: none;
}
.link:hover {
  color: #37485a;
}
.varjo:hover {
  text-shadow: -2px -2px 10px #0a3b284f;
}

/*Book Carousel */

.book_divider {
  border-right: 2px solid #00000093;
}
.book_divider:hover {
  background-color: #ffc444cc;
}

.float_container {
  padding: 10px;
  overflow: auto;
}

.float_child {
  width: 40%;
  float: left;
}

.float_child p {
  margin-bottom: 40%;
  margin-left: 20%;
}

.float_child_book_img {
  width: 50%;
  float: left;
  padding: 0px;
}

@media only screen and (max-width: 800px) {
  .float_child {
    margin-right: 20px;
    text-align: center;
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
  .float_child_book_img {
    text-align: left;
    width: 100%;
  }
}

.book_description {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 5px;
  overflow-wrap: break-word;
}

/*Custom arrows for carousel*/
.custom_right_arrow {
  position: absolute !important;
  width: 5%;
  height: 5%;
  opacity: 0.5;
  right: 5px !important;
  -webkit-filter: drop-shadow(10px 10px 10px black);
  filter: drop-shadow(10px 10px 10px black);
}
.custom_right_arrow:hover {
  opacity: 1;
  cursor: pointer;
}

.custom_left_arrow {
  position: absolute !important;
  width: 5%;
  height: 5%;
  opacity: 0.5;
  left: 5px !important;
  -webkit-filter: drop-shadow(10px 10px 10px black);
  filter: drop-shadow(10px 10px 10px black);
}
.custom_left_arrow:hover {
  opacity: 1;
  cursor: pointer;
}

.carouselBorder {
  border: 2px solid rgb(0, 108, 170);
}

/*Footer map*/

.mapStyle {
  width: '100%';
  height: '100%';
}
