body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.lista-kuva{
  display: inline-block !important;
  max-width: 5em;

}

.cart-list{
  background-color: rgb(255, 255, 255);
  padding: 3em;

}
.cart-page {
  background-color: rgb(255, 255, 255);
  padding: 1em;
}

.cart-list li {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: black 1px solid;
}

.cart-book-title {
  text-decoration: underline;
}

body{
  margin:100px;
}
a.btn1{
  height:50px;
  width: 10em;
  line-height:50px;
  vertical-align:middle;
  text-align:center;
  padding:0 10px;
  color:#ffffff;
  background-color:#007bff;
  position:relative;
  display:inline-block;
}
a.btn1:after{
  position:absolute;
  right:-1.5em;
  content:" ";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 25px 0 25px 20px;
  border-color: transparent transparent transparent #007bff;
}
a.btn1:hover{
  background-color:rgb(43, 201, 61);
}
a.btn1:hover:after{
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 25px 0 25px 20px;
  border-color: transparent transparent transparent rgb(43, 201, 61);
}